 .title, h1{
    text-align: center;
    background-color:black;
    color:white;
    white-space: pre-wrap;
}

h1{
    padding:40px;
}


.rightImg{
    padding-top:20px;
    padding-bottom: 20px;
    height:auto;
    background:black;
}

.leftImg{
    padding-top:20px;
    padding-bottom: 20px;
    height:auto;
    background:black;
}
